@font-face {
    font-family: folkard;
    src: url(../fonts/folkard_.ttf);
}


body{
    margin: 0;
    background: black;
    color: white;
    overflow: hidden;
}

#mainmenu__page{
    text-align: center;
}

#mainmenu__page #logo__img{
    margin: 0 auto;
    display: block;
    max-width: 1024px;
    width: 80%;
}

#mainmenu__page .title{
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;

    display: block;
    margin: 170px auto 25px auto;
    padding: 30px 0 0 0;

    font-size: 8rem;
    font-family: folkard;
    line-height: 1;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

button{
    font-size: 25pt;
    font-family: folkard;
    background: transparent;
    color: white;
    border: 0;
    cursor: pointer;
    outline: none;
}

button:hover{
    color: #e5c15d;
}
